In [87]:
import pandas as pd
import numpy as np

In [88]:
train = pd.read_csv("./mental_health.csv")

In [89]:
train.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [90]:
train['self_employed'].value_counts()

No     1095
Yes     146
Name: self_employed, dtype: int64

In [50]:
#train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
Timestamp                    1259 non-null object
Age                          1259 non-null int64
Gender                       1259 non-null object
Country                      1259 non-null object
state                        744 non-null object
self_employed                1241 non-null object
family_history               1259 non-null object
treatment                    1259 non-null object
work_interfere               995 non-null object
no_employees                 1259 non-null object
remote_work                  1259 non-null object
tech_company                 1259 non-null object
benefits                     1259 non-null object
care_options                 1259 non-null object
wellness_program             1259 non-null object
seek_help                    1259 non-null object
anonymity                    1259 non-null object
leave                        1259 non-null object
mental_health_consequence    1259 non-null object
phys_health_consequence      1259 non-null object
coworkers                    1259 non-null object
supervisor                   1259 non-null object
mental_health_interview      1259 non-null object
phys_health_interview        1259 non-null object
mental_vs_physical           1259 non-null object
obs_consequence              1259 non-null object
comments                     164 non-null object
dtypes: int64(1), object(26)
memory usage: 265.6+ KB

In [91]:
train = train.drop(['Timestamp','Country', 'state','comments'], axis=1)

In [92]:
print train.shape

(1259, 23)

In [93]:
train['self_employed']=train['self_employed'].fillna('No')

In [94]:
train['work_interfere']=train['work_interfere'].fillna('cant say')

In [95]:
train.work_interfere=train.work_interfere.map({'Sometimes':0,'Never':1,'Rarely':2,'Often':3,'cant say':4 })

In [96]:
train.treatment=train.treatment.map({'No':0,'Yes':1 })

In [97]:
train['self_employed']=train['self_employed'].map({'No':0,'Yes':1})
train['family_history']=train['family_history'].map({'No':0,'Yes':1})
train['mental_vs_physical']=train['mental_vs_physical'].map({"Yes":1,"Don't know":2,"No":1})
train['benefits']=train['benefits'].map({"Yes":0,"Don't know":2,"No":1})
train['obs_consequence']=train['obs_consequence'].map({'No':0,'Yes':1})

In [98]:
train.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,0,0,1,3,6-25,No,Yes,0,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,1,0
1,44,M,0,0,0,2,More than 1000,No,No,2,...,Don't know,Don't know,Maybe,No,No,No,No,No,2,0
2,32,Male,0,0,0,2,6-25,No,Yes,1,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,1,0
3,31,Male,0,1,1,3,26-100,No,Yes,1,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,1,1
4,31,Male,0,0,0,1,100-500,Yes,Yes,0,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,2,0

In [99]:
train['Gender']=train['Gender'].map({'Male':1,'male':1,'Female':2,'m':1,'M':1,'f':2,'F':2,'female':2})

In [100]:
train['Gender'].value_counts()

1.0    971
2.0    236
Name: Gender, dtype: int64

In [101]:
y = train['obs_consequence']

In [102]:
train = train.drop(['obs_consequence'], axis=1)

In [103]:
train.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical
0,37,2.0,0,0,1,3,6-25,No,Yes,0,...,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,1
1,44,1.0,0,0,0,2,More than 1000,No,No,2,...,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,2
2,32,1.0,0,0,0,2,6-25,No,Yes,1,...,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,1
3,31,1.0,0,1,1,3,26-100,No,Yes,1,...,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,1
4,31,1.0,0,0,0,1,100-500,Yes,Yes,0,...,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,2

In [104]:
train.describe(include=['O'])

,no_employees,remote_work,tech_company,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview
count,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259
unique,6,2,2,3,3,3,3,5,3,3,3,3,3,3
top,6-25,No,Yes,No,No,No,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe
freq,290,883,1031,501,842,646,819,563,490,925,774,516,1008,557

In [108]:
train['care_options'].value_counts()

0.0    501
1.0    444
Name: care_options, dtype: int64

In [111]:
train['Gender']=train['Gender'].fillna(train['Gender'].mean())

In [106]:
train['no_employees']=train['no_employees'].map({'1-5':1,'6-25':2,'26-100':3,'100-500':4,'500-1000':5,'More than 1000':6})
train['remote_work']=train['remote_work'].map({'No':0,'Yes':1})
train['tech_company']=train['tech_company'].map({'No':0,'Yes':1})
train['care_options']=train['care_options'].map({'No':0,'Yes':1,'Not Sure':2})
train['wellness_program']=train['wellness_program'].map({'No':0,'Yes':1,'Don\'t know':2})
train['seek_help']=train['seek_help'].map({'No':0,'Yes':1,'Don\'t know':2})
train['anonymity']=train['anonymity'].map({'No':0,'Yes':1,'Don\'t know':2})
train['leave']=train['leave'].map({'Don\'t know':0,'Somewhat easy':2,'Very easy':1,'Somewhat difficult':3,'Very difficult':4})
train['mental_health_consequence']=train['mental_health_consequence'].map({'No':0,'Yes':1,'Maybe':2})
train['phys_health_consequence']=train['phys_health_consequence'].map({'No':0,'Yes':1,'Maybe':2})
train['coworkers']=train['coworkers'].map({'No':0,'Yes':1,'Some of them':2})
train['supervisor']=train['supervisor'].map({'No':0,'Yes':1,'Some of them':2})
train['mental_health_interview']=train['mental_health_interview'].map({'No':0,'Yes':1,'Maybe':2})
train['phys_health_interview']=train['phys_health_interview'].map({'No':0,'Yes':1,'Maybe':2})

In [112]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 22 columns):
Age                          1259 non-null int64
Gender                       1259 non-null float64
self_employed                1259 non-null int64
family_history               1259 non-null int64
treatment                    1259 non-null int64
work_interfere               1259 non-null int64
no_employees                 1259 non-null int64
remote_work                  1259 non-null int64
tech_company                 1259 non-null int64
benefits                     1259 non-null int64
care_options                 1259 non-null float64
wellness_program             1259 non-null int64
seek_help                    1259 non-null int64
anonymity                    1259 non-null int64
leave                        1259 non-null int64
mental_health_consequence    1259 non-null int64
phys_health_consequence      1259 non-null int64
coworkers                    1259 non-null int64
supervisor                   1259 non-null int64
mental_health_interview      1259 non-null int64
phys_health_interview        1259 non-null int64
mental_vs_physical           1259 non-null int64
dtypes: float64(2), int64(20)
memory usage: 216.5 KB

In [114]:
print type(train), type(y)
X_train, Y_train = np.array(train), np.array(y)

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [116]:
print type(X_train), type(Y_train)

<type 'numpy.ndarray'> <type 'numpy.ndarray'>

In [117]:
np.save('X_train', X_train)
np.save('Y_train', Y_train)